body {
    background-color: peachpuff;
    font-family: monospace;
}

.container {
    margin: 0;
    margin-top: 200px;
    text-align: center;
}

h1 {
    font-size: 36px;
}

.yourRoll {
    color: orangered;
}

#rollResult {
    font-size: 24px;
}

.forms {
    display: none;
  }

button {
      margin-left: 45px;
      width: 100px;
      height: 35px;
      background-color:orangered;
      border: none;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      border-radius: 5px;
  }

  button:hover {
    margin-left: 45px;
    width: 100px;
    height: 35px;
    background-color:orangered;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 2px 5px black;
    border-radius: 5px;
}

select {
    height: 35px;
    background-color: peachpuff;
    border: 2px solid orangered;
}

*:focus {
    outline: 0;
  }